.container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
}

.colum {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 200px;
    width: 75px;
    background-color: black;
}

.block1 {
    height: 30px;
    width: 30px;
    background-color: lightblue;
}

.block2 {
    height: 30px;
    width: 30px;
    background-color: lightcoral;
}

.block3 {
    height: 30px;
    width: 30px;
    background-color: yellow;
}