.BIO{
    text-align: center;
    font-size: 1.2em;
    background-color: chartreuse;
    
}
.EDU{
    text-align: center;
    font-size: 1.2em; 
    background-color: chartreuse;
}
.AMA{

  background-color: aqua;  
}
p{
    background-color: aqua; background-color: aqua; 
}