.my-parent-element {
    
  display: flex;
  flex-direction: row;
  /* other rules go here */
  justify-content:space-between ;
  
}
.bro{
    display: flex;
  flex-direction: column;
  color:lightgrey;
  
}
.style{
    height: 50px;
    font-size: 14pt;
}
img{
    width: 100%;
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% ,-50%) ;
    color: #f5f8f8;
    font-size: 4em;
}
body {
    background-color:rgb(116, 112, 112);
  }
  
  h1 {
    
    text-align: center;
    color: black;
  }
  
  p {
    font-family: verdana;
  